---
import ChallengeCard from "./ChallengeCard.astro";

interface Props {
    title?: string;
    heading?: string;
    paragraph?: string;
    featuresList?: string[];
}
import RewardIcon from "../../../assets/icons/reward-icon.svg";
import RecycleIcon from "../../../assets/icons/recycle-icon.svg";

const {
    title = "The Challenge",
    heading = "Standing Out On The Shelf.",
    paragraph = 'Supermarket shelves are dominated by clinical white and blue bottles (like Dettol or Lifebuoy). Green Nest wanted to target the premium, eco-conscious consumer. <br><br> <span class="font-bold text-black">The Brief:</span> Design a logo that screams "Organic" and "Freshness" instantly. The visual identity had to promise that the product cleans hands but keeps skin soft and moisturized.',
    featuresList = null,
} = Astro.props;
---

<div class="internal-padding py-12">
    <span class="mb-4 text-lg font-semibold text-[#643DB4] md:text-xl">
        {title}
    </span>
    <h1
        class="mb-4 text-5xl font-semibold text-black md:text-4xl md:leading-tight lg:text-5xl xl:text-6xl 2xl:text-[68px]"
    >
        {heading}
    </h1>

    <div class="flex flex-col gap-y-8 md:flex-row md:justify-between">
        <div class="flex flex-col gap-y-4 md:w-3/5">
            <p
                set:html={paragraph}
                class="text-sm leading-8 text-[#535353] capitalize lg:text-lg"
            />
            <ul class="">
                {
                    featuresList &&
                        featuresList.length > 0 &&
                        featuresList.map((feature) => (
                            <li class="my-4 flex gap-x-3">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="20"
                                    height="20"
                                    viewBox="0 0 20 20"
                                    fill="none"
                                    class="aspect-square w-5"
                                >
                                    <path
                                        d="M8.6 14.6L15.65 7.55L14.25 6.15L8.6 11.8L5.75 8.95L4.35 10.35L8.6 14.6ZM10 20C8.61667 20 7.31667 19.7375 6.1 19.2125C4.88333 18.6875 3.825 17.975 2.925 17.075C2.025 16.175 1.3125 15.1167 0.7875 13.9C0.2625 12.6833 0 11.3833 0 10C0 8.61667 0.2625 7.31667 0.7875 6.1C1.3125 4.88333 2.025 3.825 2.925 2.925C3.825 2.025 4.88333 1.3125 6.1 0.7875C7.31667 0.2625 8.61667 0 10 0C11.3833 0 12.6833 0.2625 13.9 0.7875C15.1167 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61667 20 10C20 11.3833 19.7375 12.6833 19.2125 13.9C18.6875 15.1167 17.975 16.175 17.075 17.075C16.175 17.975 15.1167 18.6875 13.9 19.2125C12.6833 19.7375 11.3833 20 10 20Z"
                                        fill="#643DB4"
                                    />
                                </svg>
                                <span
                                    set:html={feature}
                                    class="flex-1 text-sm font-medium text-black md:text-base"
                                />
                            </li>
                        ))
                }
            </ul>
        </div>

        <div
            class="flex flex-col gap-y-4 rounded-[32px] border border-[#9D7EFF] bg-[radial-gradient(800px_600px_at_100%_0%,rgba(170,140,255,0.45),rgba(170,140,255,0.15)_30%,transparent_50%),linear-gradient(180deg,#faf8ff_0%,#f5f2ff_100%)] p-6 md:w-2/5 md:p-8 lg:p-14"
        >
            <h1 class="text-lg font-semibold text-black md:text-xl xl:text-2xl">
                The Goal
            </h1>

            <p class="text-sm text-[#373737] md:text-base xl:text-lg">
                "To create a seamless, automated digital storefront that retains
                the warmth, vibrancy, and 'girl-talk' energy of the physical
                salon."
            </p>

            <span
                class="mt-2 text-sm font-semibold text-[#643DB4] md:text-base xl:text-lg"
            >
                Strategy
            </span>
        </div>
    </div>
</div>
