---
import Layout from "../layouts/Layout.astro";
import HeroService from "../components/services/HeroService.astro";

import Collaborate from "../components/common/Collaborate.astro";
import Testimonials from "../components/common/Testimonials.astro";
import ServicesList from "../components/services/ServicesList.astro";
import CollabPic from "../assets/collab-mobile.png";
import Image from "astro/components/Image.astro";
---

<Layout title="Our Services - Terrabits" bg="#FDFDFD">
    <HeroService />
    <div class="overflow-hidden border-none bg-[#4B00A3]">
        <div class="rounded-t-[2rem] bg-[#f8f8f8] pt-2 md:rounded-none">
            <span class="our-services h-0 w-0"> </span>
            <ServicesList />
        </div>
    </div>

    <Image
        src={CollabPic}
        alt="Collaborate Background"
        class={"rounded-t-4xl block md:hidden"}
    />

    <div class="overflow-hidden border-none bg-[#B5B1DE]">
        <div class="rounded-t-[2rem] md:rounded-none">
            <Collaborate />
            <Testimonials />
        </div>
    </div>
</Layout>
